@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    background-image: url(imagens/wallpaper002.jpg);
    background: darkgray url(imagens/wallpaper002.jpg) center center no-repeat  fixed;
    background-size: cover;
}
main{
    background-color: white;
    max-width: 500px;
    margin: 10px auto 0px auto;
    padding: 10px;
    border: 2px solid darkgrey;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.397);
}
main>h1{
    margin-bottom: 10px;
    text-align: center;
}
main>p{
    margin: 10px ;
    text-align: justify;
}