@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100px 100px;
    background-repeat: repeat-x;
}
