@charset "UTF-8";

#container{
    position: relative;
    padding: 10px;
    width: 600px;
    height: 300px;
    background: darkgray url(imagens/target001.png) center center no-repeat ;
    background-size: 100%;

}
#conteudo{
    background: yellow url(imagens/target001.png) center center no-repeat;
    

    position: absolute;
    height: 150px;
    background-color: yellow;
    
    width: 200px;
    
    top: 50%;
    left: 100%;
   
    transform: translate(-100%, -50%);
    
}


