@charset "UTF-8";


div{
    display: inline-block;
    background-color: grey;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 200px;
}

div:hover{
    background-color: black;
}
