@charset "UTF-8";
@font-face {
    font-family:"ape" ;
    src: url(SFPRODISPLAYREGULAR.OTF)
    format(-opentype);
}
@font-face {
    font-family:"love";
    src: url(love.ttf) format("-truetype");
    
}
 /*
   Tipos de formatos 
   -opentype=(otf)
   -truetype=(ttf)
   -truetype-aat=(apple adevanced typographi)
   -

 */
body{
    font-family:"ape";
    background-image: linear-gradient(to left, rgb(243, 243, 115), rgba(255, 255, 6, 0.76) );
}
h1{
    font-family: "love";
    font-size: 3em;
    text-align: center;
    
}
main{
    background-color: white;
    margin: auto;
    max-width: 1050px ;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px darkgray;
}