@charset "UTF-8";

/*Todas as medias*/
/*Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
phone:de 600px até 768px
tabelt: 768 até 992px
pc: 992px até 1200px
grandes telas: acima de 1200px
------------------------------
*/
@media print { /*print*/
    body{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    img#phone{
        display: none;
    }
    #print{
        display: block;
    }

}

@media screen and (min-width:768px) and (max-width:992px) { /*tablet*/
    body{
        background-image: url(img/back-tablet.jpg);
    }
    img#phone{
        display: none;
    }
    #tablet{
        display: block;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) { /*pc*/
    body{
        background-image: url(img/back-pc.jpg);
    }
    img#phone{
        display: none;
    }
    #pc{
        display: block;
    }
    
}

@media screen and (min-width:1200px) { /*tv*/
    body{
        background-image: url(img/back-tv.jpg);
    }
    img#phone{
        display: none;
    }
    #tv{
        display: block;
    }
    
}