@charset "UTF-8";

/*all*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100vw;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.774);
}
body{
    background:grey url(img/back-phone.jpg) no-repeat ;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.733);
    width: 90vw;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
}
img{
    display: none;
    margin: auto;
}
img#phone{
    display: block;
    margin:auto;
}