@charset "UTF-8";

td{
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
}
table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

tr.linh1{
    background-color: darkgray;
    color: white;
}