@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap' );


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }
:root{
    --font-normal:"sriracha";

    --font-titulo:"Passion One";
}

*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    height: 140px;
    font-family: var(--font-titulo);
    font-weight: 100;
    box-shadow: 3px 3px 2px darkgray;

}
header h1{
    font-size: 3em;
    font-weight: 700;
    font-variant: small-caps;
}
nav{
    margin-top: 10px;
    height: 35px;
    background-color: black;
    position: sticky;
    top: 35px;
    
    
}
nav a{
    transition: 1s;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-left: 2px;
}
nav a:hover{
    text-decoration: underline;
    border: 1px solid white;
    border-radius: 3px;
    color: black;
    background-color: white;
}
body{
    background:darkgray url(../ex022/imagens/pattern007.png) center center no-repeat fixed;
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}
main{
    border: 1px solid black;
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding-left: 10px;
    line-height: 1.7em;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.562);
    font-family: var(--font-normal);
    font-size: 1.1em;
    
}
main>p{
    margin-bottom: 2.2em;
    margin-top: 10px;
    margin-left: 10px;
}


#conttainer1{
    background: grey url(imagens/background001.jpg) right center no-repeat;
    height: 400px;
    margin-left: -10px;
    border-bottom: 5px solid darkgray;
    border-top: 5px solid darkgray;
    background-size: cover;
    background-attachment: fixed;


}

#conteudo1{
    position: absolute;
    margin: 67px 0px;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 25px;
    color: white;
    border-radius: 0px 15px 15px 0px;
    
    
}

#conttainer2{
    background: grey url(imagens/background002.jpg) center center no-repeat;
    height: 400px;
    margin-left: -10px;
    border-bottom: 5px solid darkgray;
    border-top: 5px solid darkgray;
    background-attachment: fixed;

}

#conteudo2{
    position: absolute;
    margin: 67px 0px;
    
    background-color: rgba(0, 0, 0, 0.664);
    padding: 25px;
    color: white;
    border-radius: 0px 15px 15px 0px;
}
footer{
    margin-top: 25px;
    text-align: center;
    background: darkgray ;
    height: 25px;
    padding-top: 5px;
    position: sticky;
    bottom: 0;
    
}
footer a{
    color: black;
    text-decoration: none;
    padding: 5px;
}
footer a:hover{
    transition: 1s;
    background-color: black;
    color: white;
    text-decoration: underline;
    border: 1px solid white;
    border-radius: 7px;
}

